<template>
    <div class="footer text-center bg-dark py-5 mt-5">
      <div class="text-white mb-3">個人作品非商業用途用</div>
      <div class="icon">
        <i class="fas fa-phone-alt fa-lg text-white mx-3">09XX-XXX-XXX</i>
      </div>
  </div>
</template>
