$web-color:#454b4d;
.topic-bg {
  background-color: $web-color;
}
.topic-color {
  background-color: #0eb1f7;
}
.slider-contaner { 
  width:100%; 
  position:relative; 
  overflow: hidden;
}
.carousel-item {
  height: 60vh;
  overflow: hidden;
}
.list {
  background: rgba($color: #ffffff, $alpha: 0.5);
}
.list:hover {
  background-color: rgb(59, 128, 150);
  cursor: pointer;
}
.sidebar {
  position: sticky;
  position: -webkit-sticky;
  top: 10px;
  left: 0;
}
.carousel-item, img {
  opacity: 1;
}
.index {
  height: 10vh;
}
.card-footer {
  background-color: #102e3f;
}
.card-product {
  background-color: $web-color;
  transition: all 0.2s ease-out;
}
.card-product:hover {
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.8);
}
.navbar {
  background-color: $web-color;
}
.img-intro {
  width: 50vw;
  background-position: center;
  background-size: cover;
}
.img1 {
  background-image: url('~@/assets/dsc08057.jpg');
}
.img2 {
  background-image: url('~@/assets/3467cb5ebf6e00779270f09c0.jpeg');
}
.img3 {
  background-image: url('~@/assets/travel-guide-to-longdong-oceanpark.jpg');
}
.introduce {
  width: 50vw;
  height: 40vh;
  background:rgba($color: $web-color, $alpha: 0.5);
  overflow-x:hidden;
  overflow-y:auto;
}
.web-background {
  z-index: -1;
  .web-img {
    height: 100vh;
    width: 99.1vw;
    background-image: url('~@/assets/harry-holder-NbPJ8HM-w8c-unsplash.jpg');
    background-position: center;
    background-size: cover;
  }
}
.shop-event {
  background: rgba($color: #2e92b9, $alpha: 0.5);
}
.favor-icon {
  font-size: 1.5em;
  color: pink;
  top: -5px;
  transition: all 0.3s ease-out;
}
.favor-icon:hover {
  font-size: 2em;
  color: red;
}
.cart {
  position: fixed;
  z-index: 5;
  bottom: 5em;
  right: 1em;
}
.cart-item {
  button {
    float: right;
  }
}
.offcanvas {
  background-color: $web-color;
}
.offcanvas-body {
padding-bottom: 119px;
}
.offcanvas-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 399px;
  background-color: $web-color;
  padding: 3px;
}
.product {
  background:rgba($color: #9fa8ac, $alpha: 0.5);
  .product-img {
    background-position: center;
    background-size: cover;
    height: 50vh;
  }
}
.banner {
  position: relative;
  background-image: url('~@/assets/surfing-background.jpg');
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  .banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba($color: #9fa8ac, $alpha: 0.5);
    padding: 5em;
    .inner-text:hover {
      transform: scale(1.2, 1.2);
    }
    .inner-text{
      transition: all 1s ease-out;
      h1 {
        white-space:nowrap; 
      }
      h3 {
        text-align: center;
      }
      .banner-btn {
        text-align: center;
        .fa-angle-double-right {
          margin-right: 15px;
          animation-name: slide-r, slide-out-r;
          animation-duration:2s, 2s;
          animation-iteration-count: infinite, 1;
          animation-delay: 2s, 0s;
        }
        .fa-angle-double-left {
          margin-left: 15px;
          animation-name: slide-l, slide-out-l;
          animation-duration:2s, 2s;
          animation-iteration-count: infinite, 1;
          animation-delay: 2s, 0s;
        }
      }
    }
  }
}
@keyframes slide-r {
  0% {
    transform: translateX(0%); 
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%); 
  }
}
@keyframes slide-l {
  0% {
    transform: translateX(0%); 
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%); 
  }
}
@keyframes slide-out-r {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes slide-out-l {
  from {
    transform: translateX(500px);
  }
  to {
    transform: translateX(0%);
  }
}